html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    @apply bg-white select-none text-gray-900;
}

::selection {
    @apply bg-pink-600 text-white;
}
